:rood {
    --white:#ffffff;
    --black:#000000;
    --green:#b0ff7b;
    --btnBg:#ffffff;
    --btnFontColor:#000000;

}
body {
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
    margin-left: 2em;
    margin-right: 2em;
    
}

h1{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background: aqua;
    color: #ffffff;
    font-size: 3em;
}
ui {
    font-family: Arial, Helvetica, sans-serif;
}
li {
    list-style: square;
}
#msg {
    font-family: Noto Sans JP;
}
.light-theme {
    background:#ffe692;
    Color:#000000;
    --mado:var(--black);

}
.dark-theme {
    background: black;
    color:#ffffff;
    --mado:var(--white);


}
.btn {

    color: var(--white);
    background-color: var(--black);
}
a {
    color:var(--mado);
}
